.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
